@font-face {
  font-family: "playmegames";
  src: url("../fonts/playmegames.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
