@use "variables";

#all_players {
  background: none !important;

  & .playerBorder {
    border: 0.4rem solid variables.$red;
  }

  & p:first-child {
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  & p:nth-child(2) {
    margin-top: 0;
  }
}
