@use 'variables';

#title, #winner, #tied_game {
  font-family: "playmegames";
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 0.1em;
}

#winner, #tied_game {
  color: variables.$red;
}
