// Colors
$purple: #723AC1;
$blue: #0000a2;
$light-blue: #66B1F2;
$pale-orange: #ffe5b4;
$red: #b30000;

// Colors for text animation
$text-primary: #cd0000;
$text-secondary: $red;
$text-tertiary: #9a0000;
$text-quaternary: #800000;
$text-quinary: #670000;
